footer.footer-holder
    .container
        .row
            .logo-footer.pull-left
                img(src="img/logo-footer.png", alt="")
            .nav-footer.pull-right
                a.nav-item(href="#")
                    |Принять участие
                a.nav-item.active(href="#")
                    |Участники
                a.nav-item(href="#")
                    |Правила
                a.nav-item(href="#")
                    |О Бренде
                a.nav-item(href="#")
                    |Фотоочеты
        .row
            p.copyright
                |Cоздано  при поддержке BBID, 2015
