header.header-holder
    .container
        a(href="").logotype.pull-left
            img(src="img/logo-header.png", alt="")
        .auth.pull-right
            .col.pull-left
                p
                    |Вы вошли как: 
                    span
                        |Алексей Терехин
                a(href="#").logout.pull-right
                    |Выход
            .col.pull-right
                img.avatar(src="img/avatar.jpg", alt="")
