.nav-holder
    .container
        ul.nav-header
            li.nav-item-holder
                a.nav-item(href="#")
                    |Принять участие
            li.nav-item-holder.active
                a.nav-item(href="#")
                    |Участники
            li.nav-item-holder
                a.nav-item(href="#")
                    |Правила
            li.nav-item-holder
                a.nav-item(href="#")
                    |О Бренде
            li.nav-item-holder
                a.nav-item(href="#")
                    |Фотоотчеты
