doctype html
html
    include ./modules/head
    body.body-inner
        include ./modules/header
        include ./modules/nav
        include ./modules/banner
        .description-holder
            .container
                section.description
                        img(src="img/article_img_1.jpg", alt="")
                        a(href="").watch-btn
                            |Посмотреть ролик
                section.tired
                    article.pull-right
                        h2
                            |Когда в последний раз вы готовили классический коктейль?
                        p
                            |Chivas предоставляет Вам возможность принять
                            |участие в конкурсе THE CHIVAS MASTERS COMPETITION и
                            |получить возможность работать совместно с
                            |профессионалами международной барменской индустрии
                            |по всему миру.
                            |Конкурс состоит из двух этапов:
                        ul
                            li
                                |российский конкурс, который будет проводится в
                                |Москве 28 апреля 2015 г., по итогам которого
                                |будет выбран один победитель.
                            li
                                |международный финал, который состоится в Нью
                                |Йорке в июле 2015, где соберутся финалисты со
                                |всего мира и лучший из них получит звание Chivas
                                |Master.
                        p
                            |В течение одного года Chivas Master получит
                            |уникальную возможность работы в 3 городах мира, в
                            |трех престижных барах и совместно с профессионалами
                            |международной барменской индустрии будет создавать
                            |авторские коктейли на основе Chivas.
                        p
                            |После финала конкурса все финалисты и победитель
                            |поедут на грандиозное событие Tales of the Cocktails
                            |в Новый Орлеан.
                        p
                            |Знание коктейльного наследия, мастерство в
                            |приготовлении коктейлей и креативность- основные
                            |составляющие успеха! Принимайте участие в конкурсе
                            |THE CHIVAS MASTERS COCTAILS COMPETITION!
                        p
                            |И пусть победит лучший
                    aside.pull-left
                        img(src="img/article_img_6.jpg")
                        img(src="img/article_img_7.jpg")
                section.instruction
                    article.pull-right
                        h2.uppercase
                            |Как происходит 
                            |отбор конкурсантов?
                        p
                            |На каждом этапе мы отбираем несколько победителей: 
                        p
                            |Двое получают подарки от наших  спонсоров,  а первое
                            |место - сможет также получить путевку в Лондон! 
                        p
                            |Для этого нужно будет только переделать  рецепт
                            |коктейля - победителя с использованием продуктов и
                            |рецепт попадет на стол  жюри  в Лондоне!
                        h2.uppercase
                            |Внимание:
                        p
                            |Каждый бармен может прислать только по 1 рецепту
                            |коктейля на каждый этап конкурса - всего 6 рецептов!
                        p
                            |Если мы получили о тебя больше, то рассматриват
                            |будем только  первые 8.
                    aside.pull-left
                        img(src="img/article_img_8.jpg", alt="")
                        //img(src="img/article_img_2.jpg", alt="")
                        //img(src="img/article_img_2.jpg", alt="")
                        //.row
                            //img(src="img/article_img_3.jpg", alt="").pull-left
                            //img(src="img/article_img_4.jpg", alt="").pull-right
        .challengein-holder
            .container
                section.challengein
                    article.pull-left
                        //p.uppercase
                            //|Прими участие
                        h2.uppercase
                            |Докажи, что ты<br/>лучший!
                        a.getinvolved-btn.pull-right(href="#")
                            |Принять участие
                    //aside.pull-right
                        //img(src="img/glass.png", alt="")
        .experts-holder
            .container
                section.experts
                    h2
                        |THE CHIVAS MASTERS COCKTAIL COMPETITION
                        span
                             |КОЛЛЕГИЯ ЖЮРИ
                    ul.experts-list
                        li.expert
                            img(src="img/Alexandr.jpg", alt="")
                            p
                                |Александр Кан
                        li.expert
                            img(src="img/Vladimir.jpg", alt="")
                            p
                                |Владимир Журавлев
                        li.expert
                            img(src="img/Max.jpg", alt="")
                            p
                                |Макс Уорнер
        include ./modules/footer_inner
