doctype html
html
    include ./modules/head
    body.body-inner
        include ./modules/header
        include ./modules/nav 
        .content-holder
            .container
                h2
                    |НАШИ УЧАСТНИКИ
                hr.fancyhr
                section.stage.first
                    ul.participant-holder
                        li.participant.success
                            .participant-img-holder
                                img.participant-img(src="" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant.success
                            .participant-img-holder
                                img.participant-img(src="" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant.success
                            .participant-img-holder
                                img.participant-img(src="" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                    hr.fancyhr
            section.stage.second
        include ./modules/footer_inner
