doctype html
html
    include ./modules/head
    body.body-inner
        include ./modules/header
        include ./modules/nav 
        .content-holder
            .container
                h2.centered
                    |НАШИ УЧАСТНИКИ
                hr.fancyhr
                section.stage.header
                    .col.step
                        |1
                        span
                            |шаг
                    .col
                        p.timetable
                            |07 МАРТА - 13 МАРТА  
                            span
                                |(ПРОХОДИТ СЕЙЧАС)
                        p.take-a-test
                            |ПРОЙДИ ТЕСТ
                section.stage.first
                    ul.participant-holder
                        li.participant.success
                            .participant-img-holder
                                img.participant-img(src="img/participant1.jpg" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="img/participant2.jpg" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant.success
                            .participant-img-holder
                                img.participant-img(src="img/participant3.jpg" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant.success
                            .participant-img-holder
                                img.participant-img(src="img/participant4.jpg" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="img/participant5.jpg" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="img/participant1.jpg" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="img/participant2.jpg" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="img/participant3.jpg" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="img/participant4.jpg" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="img/participant5.jpg" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="img/participant1.jpg" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="img/participant2.jpg" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="img/participant3.jpg" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="img/participant4.jpg" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="img/participant5.jpg" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="img/participant1.jpg" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="img/participant2.jpg" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="img/participant3.jpg" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                hr.fancyhr
                section.stage.header
                    .col.step
                        |2
                        span
                            |шаг
                    .col
                        p.timetable
                            |13 МАРТА - 20 МАРТА  
                            span
                                |(ПРОХОДИТ СЕЙЧАС)
                        p.take-a-test
                            |СОЗДАЕМ РЕЦЕПТ ВМЕСТЕ С CHIVAS
                section.stage.second
                    ul.participant-holder
                        li.participant.success
                            .participant-img-holder
                                img.participant-img(src="img/participant1.jpg" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="img/participant2.jpg" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant.success
                            .participant-img-holder
                                img.participant-img(src="img/participant3.jpg" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant.success
                            .participant-img-holder
                                img.participant-img(src="img/participant4.jpg" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="img/participant5.jpg" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="img/participant1.jpg" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant.success
                            .participant-img-holder
                                img.participant-img(src="img/participant1.jpg" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="img/participant2.jpg" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant.success
                            .participant-img-holder
                                img.participant-img(src="img/participant3.jpg" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant.success
                            .participant-img-holder
                                img.participant-img(src="img/participant4.jpg" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="img/participant5.jpg" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
                        li.participant
                            .participant-img-holder
                                img.participant-img(src="img/participant1.jpg" alt="")
                            p.participant-name
                                |Айтмагамбетова Мадина 
                            p.participant-address
                                |г.Москва
        include ./modules/footer_inner
