doctype html
html
    include ./modules/head
    body.body-inner
        include ./modules/header
        include ./modules/nav 
        .content-holder
            .container
                h2.centered
                    |НАШИ УЧАСТНИКИ
                hr.fancyhr
                section.stage.header
                    .col.step
                        |1
                        span
                            |шаг
                    .col
                        p.timetable
                            |07 МАРТА - 13 МАРТА  
                            span
                                |(ПРОХОДИТ СЕЙЧАС)
                        p.take-a-test
                            |ПРОЙДИ ТЕСТ
                section.stage.first
                   article.stage-article
                        p
                            |Знание основ работы с напитками, посудой и техники приготовления коктейлей. Это тест один из множества тестов которые сдают в школе барменов Барменской Ассоциации России. Создан и написан президентом БАР Сергеем в 1997 году для нужд открываемой школы барменов в Москве. Включает вопросы которые рассматриваются в курсе «бармен» и определяют полученные навыки. Кроме  знания назначения и использования инструментов, несколько вопросов посвящено коктейлям.
                        p
                            |Вариант представленный нами в тестировании предполагает не только тестирование, но и  повысить свою квалификацию, потому что они отвечают на неизбежно возникающие  вопросы «Почему?» и «А как правильно?» 
                        p.stage-results
                            |ИТОГИ: 
                            span
                                | ВЫ УСПЕШНО ПРОШЛИ ЭТОТ ЭТАП
                hr.fancyhr
                section.stage.header
                    .col.step
                        |2
                        span
                            |шаг
                    .col
                        p.timetable
                            |13 МАРТА - 20 МАРТА  
                            span
                                |(ПРОХОДИТ СЕЙЧАС)
                        p.take-a-test
                            |СОЗДАЕМ РЕЦЕПТ ВМЕСТЕ С CHIVAS
                section.stage.second
                    article.stage-article
                        p
                            |Знание основ работы с напитками, посудой и техники приготовления коктейлей. Это тест один из множества тестов которые сдают в школе барменов Барменской Ассоциации России. Создан и написан президентом БАР Сергеем в 1997 году для нужд открываемой школы барменов в Москве. Включает вопросы которые рассматриваются в курсе «бармен» и определяют полученные навыки. Кроме  знания назначения и использования инструментов, несколько вопросов посвящено коктейлям.
                        p
                            |Вариант представленный нами в тестировании предполагает не только тестирование, но и  повысить свою квалификацию, потому что они отвечают на неизбежно возникающие  вопросы «Почему?» и «А как правильно?» 
                        p.stage-results
                            |ИТОГИ: 
                            span
                                | ИДЕТ ЭКСПЕРТНАЯ ОЦЕНКА
        include ./modules/footer_inner
