doctype html
html
    include ./modules/head
    body.body-index
        .wrapper-global
            img(src="img/title.png", alt="").chivas-title
            h2.chivas-h2
                |КОНКУРС ДЛЯ БАРМЕНОВ       
            .auth
                a(href="#").btn.bbid.left
                    |Вход через BBID
                a(href="#").btn.register.left
                    |Регистрация
            img.logotype(src="img/logotype.png", alt="")
        include ./modules/scripts
