doctype html
html
    include ./modules/head
    body.body-inner
        include ./modules/header
        include ./modules/nav 
        .content-holder
            .container
                h2.centered.m-top
                    |ВСТРЕЧА КОНКУРСАНТОВ
                hr.fancyhr
                section.meeting
                   article.meeting-article
                        p
                            |По итогам второго модуля в финал вышли пятеро участников.
                        p
                            |Заключительный третий этап состоял из творческих выступлений конкурсантов!  Ребята пообещали,что будут удивлять!
                        p
                            |И не обманули : открывали пиво кепкой, рассекали горлышко бутылки ножом!Делали пивные коктейли, был даже олимпийский  "поезд" из пива! Самым эффектный номер подготовил Павел Салявин. Он провел целое социологическое исследование,и выяснил, как девушки разных профессий умеют открывать пиво!
                ul.images-gallery-holder
                    li.img-gallery-holder
                        img.img-gallery(src="img/participant1.jpg" alt="")
                    li.img-gallery-holder
                        img.img-gallery(src="img/participant2.jpg" alt="")
                    li.img-gallery-holder
                        img.img-gallery(src="img/participant3.jpg" alt="")
                    li.img-gallery-holder
                        img.img-gallery(src="img/participant4.jpg" alt="")
                    li.img-gallery-holder
                        img.img-gallery(src="img/expert-makar.jpg" alt="")
                    li.img-gallery-holder
                        img.img-gallery(src="img/article_img_8.jpg" alt="")
                    li.img-gallery-holder
                        img.img-gallery(src="img/expert-aslan.jpg" alt="")
                    li.img-gallery-holder
                        img.img-gallery(src="img/participant1.jpg" alt="")
                    li.img-gallery-holder
                        img.img-gallery(src="img/expert-ivan.jpg" alt="")
                    li.img-gallery-holder
                        img.img-gallery(src="img/Vladimir.jpg" alt="")
                    li.img-gallery-holder
                        img.img-gallery(src="img/participant4.jpg" alt="")
                    li.img-gallery-holder
                        img.img-gallery(src="img/participant1.jpg" alt="")
                    li.img-gallery-holder
                        img.img-gallery(src="img/expert-sergey.jpg" alt="")
                    li.img-gallery-holder
                        img.img-gallery(src="img/participant1.jpg" alt="")
                    li.img-gallery-holder
                        img.img-gallery(src="img/expert-aslan.jpg" alt="")
                    li.img-gallery-holder
                        img.img-gallery(src="img/participant3.jpg" alt="")
                    li.img-gallery-holder
                        img.img-gallery(src="img/article_img_6.jpg" alt="")
                    li.img-gallery-holder
                        img.img-gallery(src="img/participant5.jpg" alt="")
                    li.img-gallery-holder
                        img.img-gallery(src="img/article_img_1.jpg" alt="")
                    li.img-gallery-holder
                        img.img-gallery(src="img/participant1.jpg" alt="")
                    li.img-gallery-holder
                        img.img-gallery(src="img/participant3.jpg" alt="")
                    li.img-gallery-holder
                        img.img-gallery(src="img/participant1.jpg" alt="")
                    li.img-gallery-holder
                        img.img-gallery(src="img/Max.jpg" alt="")
                    li.img-gallery-holder
                        img.img-gallery(src="img/expert-sergey.jpg" alt="")
        include ./modules/footer_inner
