doctype html
html
    include ./modules/head
    body.body-inner
        include ./modules/header
        include ./modules/nav
        .content-holder
            .container
                section.content-section
                        h2.h2-content
                            |ИСКУССТВО КУПАЖИРОВАНИЯ
                        hr.fancyhr
                        article.article-content
                            p
                                |Независимо от того о каком виски идет речь, будь то Chivas Regal 12, Chivas
                                |Regal 18 или Chivas Regal 25, каждый из них имеет свою уникальную формулу и
                                |создан из различных виски длительной выдержки, что придает каждому из этих
                                |напитков уникальный вкус, 
                                |характер и аромат.
                            p
                                |Виски можно по праву считать скотчем, если его выдержка не меньше трех лет. Для
                                |создания Chivas Regal используются сорта виски выдержкой не менее двенадцати!
                                |Мастер купажа выбирает различные солодовые и зерновые виски, сопоставляет их
                                |возраст и 
                                |гармонизирует характер купажа, смешивая их в пропорциях, которые позволяют
                                |усилить привлекательные свойства и скрыть недостатки каждого из них.
                            p
                                |По словам Колина Скотта (Colin Scott) искусство купажирования заключается в том,
                                |что талантливый мастер, равно как и талантливый композитор должен не просто
                                |понимать тембр и характер звучания каждого отдельного инструмента, он должен
                                |видеть и чувствовать комбинацию, при которой все инструменты сливаются в единую
                                |незабываемую симфонию.
                            p
                                |Многолетние традиции купажирования выдержанных шотландских виски, впервые
                                |разработанные Джеймсом и Джоном Чивас в 
                                |середине девятнадцатого века, с осторожностью передавались из поколения в
                                |поколение. Сегодня мастер купажа Колин Скотт 
                                |опекает традиции Chivas Regal. Его навыки – это высокая квалификация, долгие
                                |годы работы и непреодолимая страсть к шотландскому виски.
                            p
                                |Самое сложное в купажировании – примирить различные характеры многочисленных
                                |солодовых и зерновых виски, а затем создать напиток высочайшего качества. Такой
                                |как Chivas – неизменный в своем характере из года в год.
                        hr.fancyhr
                    ul.chivas-bottles
                        li.bottle
                            img(src="img/chivas-bottle1.png",
                            alt="").bottle-img
                            h2.bottle-title
                                |CHIVAS
                            p.bottle-description
                                |Chivas Regal – это купаж лучших сортов
                                |односолодового виски региона Спейсайд выдержкой
                                |не менее 12 лет каждый.<br/>
                                |Этот насыщенный, но мягкий виски обладает
                                |великолепным балансом традиционного шотландского
                                |качества и традициями в современной
                                |интерпретации. 
                        li.bottle
                            img(src="img/chivas-bottle2.png", alt="").bottle-img
                            h2.bottle-title
                                |CHIVAS 18
                            p.bottle-description
                                |Виски с богатым и сложным вкусом, созданный
                                |Колином Скоттом, мастером купажа.<br/>
                                |В его состав входят различные односолодовые и
                                |зерновые сорта виски из разных уголков
                                |Шотландии, включая наш классический
                                |односолодовый виски Стратайла из региона
                                |Спейсайд.<br/>
                                |В каждой капле этого напитка вы найдете не менее
                                |85 вкусовых нот и оттенков. Каждый глоток –
                                |новое ощущение.
                        li.bottle
                            img(src="img/chivas-bottle3.png", alt="").bottle-img
                            h2.bottle-title
                                |CHIVAS 25
                            p.bottle-description
                                |Chivas 25 является очень редким и эксклюзивным
                                |купажом лучших шотландских виски возрастом не
                                |менее 25 лет.<br/>
                                |Впервые появившись в 1 909 г. в Нью Йорке как
                                |первый шотландский купажированный виски класса
                                |«люкс» он выпускается строго ограниченным
                                |тиражом.<br/>
                                |При этом каждая бутылка имеет свой уникальный
                                |номер.<br/>
                                |Chivas 25 предназначен исключительно для самых
                                |взыскательных знатоков шотландского виски
        include modules/footer_inner
