.body-inner
    h2
        color #b28e5c
        font-family FuturaPTBold
    p
        color #b28e5c
        font-family FuturaPTBook
    .uppercase
        text-transform uppercase
    section::after
        clear both
        content ''
        display block
    .description-holder .container
        padding 4.125rem
    .description article
        width 45%
    .description
        text-align center
    .description aside
        width 50%
        text-align center
    .instruction article
        width 45%
    .instruction aside
        width 50%
        img
            width 100%
        text-align center
        .row
            margin 1rem auto
            width 22rem
    .tired
        article
            width 45%
            ul
                li
                    color #b28e5c
                    font-family "FuturaPTBook"
        aside
            width 50%
            img
                &:first-child
                    margin-top 1.7rem
                margin-bottom 1.5rem
                width 100%
.watch-btn
    width 12rem
    height 2.75rem
    border 1px solid #b28e5c
    border-radius 4px
    color #a58664
    display block
    text-align center
    text-decoration none
    font-family FuturaPTBook
    font-size 1rem
    margin 1rem  auto
    padding .6rem 0 0 0
    box-sizing border-box
    position relative
    &::before
        content ''
        display block
        position absolute
        width 1rem
        height 1rem
        left .6875rem
        top 1rem
        background url(../img/icon-cam.png) no-repeat 
    &:hover
        background url(../img/btn-hover.png)
.challengein-holder
    //background url(../img/challengein-bg.jpg)
    height 18.75rem
    box-sizing border-box
    padding 1.75rem 0 0 0
    border-top 3px solid #c7a57c
    border-bottom 3px solid #c7a57c
    .container
        height 100%
    .challengein
        height 100%
        overflow hidden
        article
            width 45%
            text-align right
            p
                margin 2.5rem 0 .3rem
                color #333132
                font-family FuturaPTBold
            h2
                line-height 1.2
                margin 1rem 0 2.375rem 0
                font-size 2.1875rem
                font-family FuturaPTHeavy
        aside
            margin-right 7rem
        .getinvolved-btn
            font-family FuturaPTBook
            text-align center
            font-size 1rem
            display block
            width 11.875rem
            height 2.75rem
            box-sizing border-box
            padding .5rem 0 0 1.0625rem
            background #990404
            color #e6e7e9
            text-decoration none
            border 1px solid #cc2323
            border-radius 4px
            position relative
            &::before
                content ''
                width 1.5rem
                height 1rem
                display block
                position absolute
                top .825rem
                left .7rem
                background url(../img/icon-ok.png) no-repeat 
            &:hover
                border 1px solid #610202
                background #9f0404
.experts-holder
    .experts
        padding 4.5rem 0 4.375rem 0
        h2
            margin 0
            text-align center
            font-family FuturaPTHeavy
            font-size 1.125rem
            span
                display block
                font-family FuturaPTBold
                font-size 2.1875rem
        .experts-list
            padding 0 0 0 8rem
            overflow hidden
            .expert
                float left
                margin-right 2.75rem
                width 12.75rem
                &:last-child
                    margin-right 0
                img
                    border-radius 4px
                p
                    color #cec5aa
                    font-family FuturaPTBook
                    text-align center
