.stage-article
	padding 0 0 0 4.5rem
	color #f9f0d0
	p
		color #f9f0d0
	font-family "FuturaPTBook"
	p.stage-results
		color #b28e5c
		font-family "FuturaPTHeavy"
		span
			color #ff685d
.stage.second
	margin-bottom 4rem