.footer-holder
    background url(../img/footer.jpg)
    height 10.75rem
    padding-top 2.875rem
    border-top 3px solid #c7a57c
    box-sizing border-box
    .logo-footer
        margin-left 1rem
    .nav-footer
        padding 1.25rem 0 0 0
        &::after
            clear both
            display block
            content ''
        .nav-item
            color #b28e5c
            border-right 2px solid #93734a
            float left
            font-family FuturaPTMedium
            text-decoration none
            padding 0 .9375rem 0
            &:last-child
                border-right 0
            &:hover
                color #e6e7e8
                text-decoration underline
    .copyright
         color #e6e7e8
         font-family FuturaPTBook
