.header-holder
    height 8.25rem
    border-bottom .1875rem solid #c7a57c
    .auth
        padding 0
        color #b28e5c
        &::after
            clear both
            content ''
            display block
        p
            margin .4875rem 0 0 0
            font-family FuturaPTBook
        span
            color #fff6e8
        .avatar
            border 1px solid #a17949
            border-radius 4px
            margin-left 1.625rem
        .logout
            color #b28e5c
            font-family FuturaPTMedium
            text-decoration underline
            &:hover
                text-decoration none 
    .container
        padding-top 2.1875rem
