.meeting-article
	color #f9f0d0
	p
		color #f9f0d0
	font-family "FuturaPTBook"
	margin-bottom 4rem
	margin-top 3rem
.images-gallery-holder
	margin-bottom 3rem
	&::after
		clear both
		display block
		content ''
	.img-gallery-holder
		float left
		width 12.625rem
		margin-right 1.375rem
		margin-bottom 1.375rem
		background #fff
		height 10.75rem
		overflow hidden
		.img-gallery
			display block
			margin 0 auto
			height 100%		
.m-top
	margin-top 3.5rem