.content-holder
    border-top 3px solid #c7a57c
.fancyhr
    width 28.75rem
    margin 0 auto
    border-color #b28e5c
.h2-content
    margin 6.25rem 0 2rem 0
    text-align center
    font-size 2.1875rem
    font-family "FuturaPTBold"
.article-content
    padding 3.2rem 0 3.2rem 0
    p  
        color #b28e5c
        font-family "FuturaPTBook"
.chivas-bottles
    margin 3.75rem 0 6.25rem 0
    padding 0
    &::after
        display block
        clear both
        content ''
    .bottle
        float left
        margin-right 3.5rem
        width 17.25rem
        &:last-child
            margin-right 0
        .bottle-title
            font-family "FuturaPTBold"
            text-align center
            font-size 2.1875rem
            padding-bottom 2.625rem
            border-bottom 1px solid #b28e5c
            margin 0 0 2.625rem 0
        .bottle-img
            height 19.75rem
            margin-left -1.4rem
        .bottle-description
            font-family "FuturaPTBook"
